In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from built_systems import *
from climate_conditions import *
from social_systems import *

In [3]:
df = get_data_greenhouse_gas()
plot_greenhouse_gas(df)

In [4]:
df = get_data_secchi_depth()
plot_secchi_depth(df)

In [5]:
df = get_data_home_heating()
plot_home_heating(df)

In [6]:
df = get_data_energy_mix()
plot_energy_mix(df)

In [3]:
df = get_data_tenure_by_age()
plot_tenure_by_age(df)

In [5]:
df = get_data_tenure_by_race()
plot_tenure_by_race(df)

In [10]:
df = get_data_race_ethnicity()
plot_race_ethnicity(df)

,variable_name_total,value_total,Geography,Race,variable_name,value,Tenure,share
0,Total: American Indian And Alaska Native Alone...,88,Basin,AIAN,Renter Occupied: American Indian And Alaska Na...,38,Renter Occupied,0.431818
1,Total: American Indian And Alaska Native Alone...,88,Basin,AIAN,Owner Occupied: American Indian And Alaska Nat...,50,Owner Occupied,0.568182
2,Total: American Indian And Alaska Native Alone...,88,Basin,AIAN,Owner Occupied: American Indian And Alaska Nat...,37,Owner Occupied,0.420455
3,Total: American Indian And Alaska Native Alone...,88,Basin,AIAN,Renter Occupied: American Indian And Alaska Na...,96,Renter Occupied,1.090909
4,Total: American Indian And Alaska Native Alone...,133,Basin,AIAN,Renter Occupied: American Indian And Alaska Na...,38,Renter Occupied,0.285714
...,...,...,...,...,...,...,...,...
139,Total: White Alone Householder,13102,South Lake,White,Renter Occupied: White Alone Householder,4865,Renter Occupied,0.371317
140,Total: White Alone Householder,12882,South Lake,White,Owner Occupied: White Alone Householder,8013,Owner Occupied,0.622031
141,Total: White Alone Householder,12882,South Lake,White,Renter Occupied: White Alone Householder,5089,Renter Occupied,0.395047
142,Total: White Alone Householder,12882,South Lake,White,Owner Occupied: White Alone Householder,8017,Owner Occupied,0.622341
143,Total: White Alone Householder,12882,South Lake,White,Renter Occupied: White Alone Householder,4865,Renter Occupied,0.377659